# Pages
Redirect permanent /application-development http://ideum.com/our-story/software-initiatives
Redirect permanent /custom-exhibits         http://ideum.com/ideum_project
Redirect permanent /interactive-exhibit     http://ideum.com/ideum_projects
Redirect permanent /media-web-design        http://ideum.com/ideum_project
Redirect permanent /about-us                http://ideum.com/our-story
Redirect permanent /inquiry                 http://ideum.com/contact
Redirect permanent /contact-us              http://ideum.com/contact
Redirect permanent /multitouch              http://ideum.com/touch-tables

RedirectMatch permanent ^/blog/category/(.+)     http://ideum.com/category/$1



# Products

## Coffee Tables
Redirect permanent /coffee-tables http://ideum.com/touch-tables/platform-coffee

## Platform
Redirect      permanent /redefined                       http://ideum.com/touch-tables/platform
RedirectMatch permanent /products/multitouch/platform/.* http://ideum.com/touch-tables/platform
Redirect      permanent /products/multitouch/platform    http://ideum.com/touch-tables/platform

## Drafting Tables
Redirect permanent /drafting-touchtable http://ideum.com/touch-tables/platform-drafting

## Pro & Pro Lab
RedirectMatch permanent /products/multitouch/professional/.* http://ideum.com/touch-tables/pro
Redirect      permanent /products/multitouch/professional    http://ideum.com/touch-tables/pro
RedirectMatch permanent /products/multitouch/pro-lab/.*      http://ideum.com/touch-tables/pro
Redirect      permanent /products/multitouch/pro-lab         http://ideum.com/touch-tables/pro

## Pano
RedirectMatch permanent /products/multitouch/pano/.* http://ideum.com/touch-tables/pano
Redirect      permanent /products/multitouch/pano    http://ideum.com/touch-tables/pano

## Presenter
RedirectMatch permanent /touch-walls/presenter-46/.* http://ideum.com/touch-walls/presenter
Redirect      permanent /touch-walls/presenter-46    http://ideum.com/touch-walls/presenter
RedirectMatch permanent /touch-walls/presenter-55/.* http://ideum.com/touch-walls/presenter
Redirect      permanent /touch-walls/presenter-55    http://ideum.com/touch-walls/presenter
RedirectMatch permanent /touch-walls/presenter-65/.* http://ideum.com/touch-walls/presenter
Redirect      permanent /touch-walls/presenter-65    http://ideum.com/touch-walls/presenter
RedirectMatch permanent /touch-walls/presenter/.*    http://ideum.com/touch-walls/presenter
Redirect      permanent /touch-walls/presenter       http://ideum.com/touch-walls/presenter



# Projects
RedirectMatch permanent ^/interactive-exhibits/(.+) http://ideum.com/ideum_project/$1
RedirectMatch permanent ^/media-web-design/(.+)     http://ideum.com/ideum_project/$1
Redirect      permanent /monterey                   http://ideum.com/ideum_project/aquarium_multitouch_wall
