@mixin navi-effect($background: $white) {
  a {
    padding: 0 0 em(5);
  }
  a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: $background;
    content: '';
    opacity: 0;
    @include transition(
      height $base-animation-speed $base-animation-easing,
      opacity $base-animation-speed $base-animation-easing,
      transform $base-animation-speed $base-animation-easing
    );
    @include transform(translateY(em(-10)));
  }

  a:hover::after,
  a:focus::after {
    height: 2px;
    opacity: 1;
    @include transform(translateY(0px));
  }
  
  
    // navi-effect for the footer

    nav.footer-nav li.current-menu-item a {
      color: $light-gray;
    }

    nav.footer-nav .current-menu-item a::after {
      height: 2px;
      opacity: 0.6;
      @include transform(translateY(0px));
    }

    nav.footer-nav li.current-menu-item a:hover {
      opacity: 0.6;
    }

  
  
}
