.accordion-wrap {
  @include span-columns(12);
  @include omega;

  .item-wrap {
    @include span-columns(12); 
    @include omega;   
  
    &.aquamarine {
      background-color: $dark-teal;
    }
    &.gold {
      background-color: $medium-orange;
    }
    &.blue {
      background-color: $medium-blue;
    }
    &.red {
      background-color: $very-dark-red;
    }
    &.purple {
      background-color: $medium-purple;
    }
    &.green {
      background-color: $dark-green;
    }

    article {

      header {
        @include span-columns(12);
        @include omega;
        min-height:130px;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        position: relative;

        h1 {
          @include span-columns(7);
          color:$white;
          margin-bottom: $gutter;

          @include media($medium-screen-up) {
            @include span-columns(8);
            @include shift(1.5);
            text-align: center;
          }

        }

        button {
          @include transform(rotate(0));
          @include transition(transform 0.5s ease);
          background: none;
          border: 0;
          color: #fff;        
          float: right;
          font-size: 1.75em;
          outline: none;
          position: relative;
            right: -10%;

          @include media($medium-screen-up) {
            right: 0;
          }

        }
      }

      .item-content {
        display:none;

        .accordion-sub-header {
          @include span-columns(8);
          @include shift(1.5);
          padding: $gutter 0;

          @include media($medium-screen-up) {
            @include shift(2);
          }

          p {
            color:$white;
            text-align: left;

            @include media($medium-screen-up) {
              text-align: center;
            }
          }

        }

        .text-container {
          @include span-columns(12);
          @include omega;
          background-color: $content-background-color;
          padding-top: $medium-gutter;

          .img-row {

            display:none;

            @include media($medium-screen-up) {
              @include span-columns(10);
              @include shift(1);
              margin-bottom: $medium-gutter;
              margin-top: $gutter;
              text-align:center;
            }

            img {
              width: calc((100% - 4%) / 5);              
            }
          }
        }

        footer {

        }

      }

    }

    &.open {
      header button {
        @include transform(rotate(180deg));
        background: none;
        border: 0;
        color: #fff;        
        float: right;
        font-size: 1.75em;
        outline: none;
        position: relative;
        right: -10%;

        @include media($medium-screen-up) {
          right: 0;
        }

      }

      .item-content {
      }
    }

  }

}
