.accordion-wrap {
  @include span-columns(12);
  @include omega;

  .item-wrap {
    @include span-columns(12); 
    @include omega;   
  
    &.aquamarine {
      background-color: $dark-teal;
      &.only-open {
        background-color: $white;
        border-bottom:1px solid $very-light-gray;
        &:first-of-type {
          border-top:1px solid $very-light-gray;
        }
        &.open {
          background-color: $dark-teal;
        }
      }
    }
    &.gold {
      background-color: $light-medium-orange;
      &.only-open {
        background-color: $white;
        border-bottom:1px solid $very-light-gray;
        &:first-of-type {
          border-top:1px solid $very-light-gray;
        }
        &.open {
          background-color: $light-medium-orange;
        }
      }
    }
    &.darkgold {
      background-color: $dark-orange;
      &.only-open {
        background-color: $white;
        border-bottom:1px solid $very-light-gray;
        &:first-of-type {
          border-top:1px solid $very-light-gray;
        }
        &.open {
          background-color: $dark-orange;
        }
      }
    }
    &.blue {
      background-color: $medium-blue;
      &.only-open {
        background-color: $white;
        border-bottom:1px solid $very-light-gray;
        &:first-of-type {
          border-top:1px solid $very-light-gray;
        }
        &.open {
          background-color: $medium-blue;
        }
      }
    }
    &.red {
      background-color: $very-dark-red;
      &.only-open {
        background-color: $white;
        border-bottom:1px solid $very-light-gray;
        &:first-of-type {
          border-top:1px solid $very-light-gray;
        }
        &.open {
          background-color: $very-dark-red;
        }
      }
    }
    &.purple {
      background-color: $medium-purple;
      &.only-open {
        background-color: $white;
        border-bottom:1px solid $very-light-gray;
        &:first-of-type {
          border-top:1px solid $very-light-gray;
        }
        &.open {
          background-color: $medium-purple;
        }
      }
    }
    &.green {
      background-color: $dark-green;
      &.only-open {
        background-color: $white;
        border-bottom:1px solid $very-light-gray;
        &:first-of-type {
          border-top:1px solid $very-light-gray;
        }
        &.open {
          background-color: $dark-green;
        }
      }
    }

    article {

      header {
        @include span-columns(12);
        @include omega;
        min-height:130px;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        position: relative;
        

        h1 {
          @include span-columns(7);
          color:$white;
          margin-bottom: $gutter;
          cursor: pointer;

          @include media($medium-screen-up) {
            @include span-columns(8);
            @include shift(1.5);
            text-align: center;
          }

        }

        button {
          @include transform(rotate(0));
          @include transition(transform 0.5s ease);
          background: none;
          border: 0;
          color: #fff;        
          float: right;
          font-size: 1.75em;
          outline: none;
          position: relative;
            right: -10%;

          @include media($medium-screen-up) {
            right: 0;
          }

        }
      }

      .item-content {
        display:none;

        .accordion-sub-header {
          @include span-columns(8);
          @include shift(1.5);
          padding: $gutter 0;

          @include media($medium-screen-up) {
            @include shift(2);
          }

          p {
            color:$white;
            text-align: left;

            @include media($medium-screen-up) {
              text-align: center;
            }
          }

        }

        .text-container {
          @include span-columns(12);
          @include omega;
          background-color: $content-background-color;
          padding-top: $medium-gutter;

          .img-row {

            @include media($medium-screen-up) {
              @include span-columns(10);
              @include shift(1);
              margin-bottom: $medium-gutter;
              margin-top: $gutter;
              text-align:center;
            }

            img {
              width: calc((100% - 4%) / 5);              
            }
          }
        }

        footer {

        }

      }

    }

    &.open {
      header button {
        @include transform(rotate(180deg));
        background: none;
        border: 0;
        color: #fff;        
        float: right;
        font-size: 1.75em;
        outline: none;
        position: relative;
        right: -10%;

        @include media($medium-screen-up) {
          right: 0;
        }

      }

      .item-content{
        @include span-columns(12);
        background-color: $white;

        .item-content-2col {
          @include span-columns(10);
          @include shift(1);

          @include media($small-screen-up) {

            .column-33-right {
              padding-bottom: $gutter;

              h3 {
                padding-bottom: $gutter * 1.25;
              }

              ul {
                margin-bottom: $gutter;

                li {
                  color: $dark-gray;
                  font-size:.9em;
                  line-height:1.25em;
                  margin-bottom: $gutter;
                }

              }

            }

            .column-66-left {
              padding-bottom: $gutter;

              h2 {
                padding-bottom: $gutter;
              }

              p {
                color: $very-dark-gray;
              }

              p + h2 {
                margin-top: $gutter * 2;
              }

              img {
                height: auto;
              }

            }

          }

          @include media($medium-screen-up) {

            .column-33-right {
              @include span-columns(4);
              float: right;
              padding-bottom: $gutter * 1.5;

              h3 {
                padding-bottom: $gutter * 1.25;
              }

              ul {
                margin-bottom: $large-gutter;

                li {
                  color: $dark-gray;
                  font-size:.9em;
                  line-height:1.25em;
                  margin-bottom: $gutter;
                }

              }

            }

            .column-66-left {
              @include span-columns(7);
              float: left;
              padding-bottom: $gutter * 1.5;

              h2 {
                padding-bottom: $gutter;
              }

              p {
                color: $very-dark-gray;
              }

              p + h2 {
                margin-top: $gutter * 2;
              }

            }

          }

          @include media($large-screen-up) {

            .column-33-right {
              @include span-columns(3);
              float: right;
            }

            .column-66-left {
              @include span-columns(8);
              float: left;
            }

          }

        }

      }

    }

    &.only-open {
      h1 {
        color: $vv-dark-gray;
      }
      article header button {
        color: $vv-dark-gray;
      }
      &.open {
        h1 {
          color: $white;
        }
        article header button {
        color: $white;
      }
      }
    }

  }

}

.accordion-internal { 
  @include span-columns(10);
  @include shift(1);

  padding: 0 0 $gutter;
  text-align: justify;

  h1.trueH1 {
    color: $vv-dark-gray !important;
    font-size: rem(34);
    font-weight: $ultra-bold;
    line-height: 1.32;
    margin: rem(30) 0 rem(6);
  }
  h2 {
    font-size: rem(24);
    font-weight: $normal;
    line-height: 1.33;
    &.subtitle {
      margin-bottom: rem(20);
    }
  }

  .left-cell {
    padding: $gutter;
    width: 100%;

    @include media($medium-screen-up) {
      float: left;
      width: 50%;
    }

    .right {
      float: right;
    }

  }

  .right-cell {
    padding: $gutter;
    width: 100%;

    @include media($medium-screen-up) {
      float: right;
      width: 50%;
    }

  }

  &.no-justification {
    text-align: left;
  }

  .legacy-item {
    background-color: #f7f7f7;
    display: inline-block;
    margin: $gutter 0 0px 0;
    position: relative;
    width: 100%;
    
    @include media($medium-screen-up) {
      height: 103px;
    }

    img.item-img { 
      float: left;
      margin-right: 3%;
    }

    a {

      &:hover {
        opacity:.6;
      }

      &.email-wrap.gold { 
        background-color: $dark-orange; 
        border-radius: 50%;
        display: inline-block;
        position: absolute; 
        text-align: center;
        
        @include media($small-screen-up) {
          height: 60px;
          margin-top: 6%;
          right: 12%;
          width: 60px;
        }

        @include media($medium-screen-up) {
          height: 50px;
          margin-top: 0;
          right: 6%; top: 25px;
          width: 50px;
        }

        i.icon-email {
          color: #FFF;
          font-size: 32px;

          @include media($medium-screen-up) {
            position: relative;
            top: -3px;
          }
        }

      }

      &.img-wrap-link {

        @include media($small-screen-up) {
          display: inline-block;
          margin: 6% 6% 0 12%;
        }

        @include media($medium-screen-up) {
          display: block;
          margin: 0 6% 0 0;
        }
        
        img {

          @include media($small-screen-up) {
            width: 60px;
          }

           @include media($medium-screen-up) {
            width: 103px;
          }

        }

      }

    }
    
    .legacy-details {
      @include clearfix;
      
      @include media($small-screen-up) {
        clear: both;
        text-align: center;
        width: 100%;
      }

      @include media($medium-screen-up) {
        clear: none;
        text-align: left;
        width: auto;
      }

      h2 {
        margin: $gutter 0 ($gutter / 2) 0;
      }

      p {
        margin: 0 0 ($gutter / 2) 0;
      }

    }

  }

}
