.single-post {
  #content {
    padding-top: 0;
  }
}

.full-size-share {
  position: absolute;
  left: -4000px; top: -4000px;
}

.blog-post-detail, .project-post-detail {
  @include span-columns(12);
  @include omega;

  height: 100%;
  width: 100%;

  .content-wrapper {

    .pull-quote {
      @include span-columns(12);
      @include omega;
      background-color: $vv-light-blue;
      position: relative;
      
      @include media($medium-screen-up) {
        @include display(flex);
        max-height: 380px;
        overflow: hidden;
      }

      .pull-quote-img {
        @include clearfix;
        background-size: 0;
        float: left;
        margin: 0; 
        width: 100%;

        @include media($medium-screen-up) {
          background-position: center;
          background-size: cover;
          @include display(flex);
          @include flex-basis(auto);
          @include flex-direction(column);
          @include flex-grow(1);
          @include flex-shrink(1);
          height:380px;
          overflow: hidden;
          width: 50%;
        }

        a { 
            height: 100%;

          img {
            width: 100%;

            @include media($medium-screen-up) {
              @include display(flex);
              float: left;
              height: auto;
              min-height: 105%;
              max-width: initial;
              min-width: 105%;
              width: auto;
            }
          }

        }

      }

      .pull-quote-txt {
        @include clearfix;        
        float: left;
        margin: 0; 
        padding: 0 9%;
        width: 100%;

        @include media($medium-screen-up) {
          @include display(flex);
          @include flex-basis(auto);
          @include flex-direction(column);
          @include flex-grow(1);
          @include flex-shrink(1);
          justify-content: center;
          padding: 0 6%;
          width: 50%;
          height:380px;
        }

        @include media($large-screen-up) {
          padding: 0 9%;
        }

        h2 {
          color: $white;
          
          @include media($small-screen-up) {
            padding: $gutter $gutter $medium-gutter;
          }

          @include media($medium-screen-up) {
            padding: initial;
          }

        }

      }

    }

    .single-post-header {
      @include span-columns(12);
      @include omega;

      background-color: $off-vv-light-gray;
      padding: $medium-gutter;
      text-align: center;
      position: relative;


      .post-time {
        color:$light-gray;
        text-transform: uppercase;
      }

      h1.article-h1 {
        margin-top: 0px;
      }
    }

    .article-content {
      display: inline-block;
      max-width: 100%;
      padding: $large-gutter 0 0;

      .article-body {
        @include span-columns(10);
        @include shift(1);
        float: left;
        padding-bottom: $large-gutter;
        position: relative;
        
        @include media($medium-screen-up) {
          @include span-columns(7.5, block-collapse);
          @include shift(.5);          
        }

        @include media($large-screen-up) {
          @include span-columns(8, block-collapse);
          @include shift(1);          
        }

        h1.alternative-title {
          margin-top:0;
        }

        img {
          height: auto !important;
          margin: $gutter 0;
        }

        iframe {
          margin: $gutter 0;
          max-width: 100%;
        }

        .back-to-blog, .back-to-projects {          
          margin-top: $large-gutter;

          a {
            color: $very-dark-gray;
            font-weight: $bold;
            text-transform: uppercase;

            &:hover {
              border-bottom:1px dotted $very-dark-gray;
            }

          }

        }

        .edit-link {
          background-color: $very-light-gray;
          border: 4px solid $very-light-gray;
          border-radius: 50%;
          color: $very-dark-gray;
          position: absolute;
          right: 0px; top: -35px;   

          &:hover {
            color: $white;
            background-color: $very-dark-gray;
            border: 4px solid $very-dark-gray;
          } 

        }

      }

      .layout-sidebar {
        @include span-columns(12);
        margin: 0 auto;
        text-align: center;

        padding: 20px;
        border-top: 1px solid $vv-light-gray;

        @include media($medium-screen-up) {
          @include span-columns(3, block-collapse);
          @include omega;
          border: 0px;
          float: left;
          padding: 0 $gutter $gutter;
          text-align: left;
        }

        @include media($large-screen-up) {
          @include span-columns(2, block-collapse);
          @include omega;
          border: 0px;
          float: left;
          padding: 0 $gutter $gutter;
          text-align: left;
        }
        
        p.author-img, p.company-icon {
          a {
            &:hover {
              opacity: 0.6;
            }
          }
        }

        p.author-position, p.project-company-name { 
          margin-bottom: 0;
          color: $light-medium-gray;
          font-style: italic;
        }

        h4.author-name, h4.project-sidebar-title {
          color: $very-dark-gray;
          font-weight:700;
          margin-bottom: $gutter * .7;
          a {
            color: $very-dark-gray;
            &:hover {
              opacity: 0.6;
            }
          }
        }

        p.post-date, p.post-category {
          font-size: 1em * .86;
          margin-bottom: rem(4);

          .label {
            font-size:rem(10);
          }

          a {
            color: $light-medium-gray;

            &:hover {
              border-bottom: 1px dotted $light-medium-gray;
            }
          }

        }

        p.post-category {
          margin-bottom: $medium-gutter;;
        }

        p.sidebar-share-button, p.sidebar-link-button {          
            position: relative;
          a.button {
            margin:0 0 10px 0;
            text-align: center;
            /*width: 130px;*/ 
          
            &.share-dialog-phone {
              position: absolute;
              top: -0px;
              left: -0px;
              right: -0px;
              margin: 0 auto;
            }

          }

        }

      }

      .layout-bottombar {
        @include clearfix;
        clear: both;
        margin-bottom: -5px;

        .tease {

          &:nth-child(2n) {
            @include media($medium-screen-up) { 
              border-right:2px solid $white;
            }
            @include media($large-screen-up) { 
              border-right:2px solid $white;
            }
          }

          &:nth-child(3n) {
            @include media($medium-screen-up) { 
              border-right: 0px;
            }
            @include media($large-screen-up) { 
              border-right:2px solid $white;
            }
          }

          &:nth-child(4n) {
            @include media($large-screen-up) { 
              border-right: 0px;
            }
          }

        }

      }

    }

  }

}

.project-post-detail .content-wrapper .article-content .article-body + h1 {
  margin-bottom: $large-gutter;
}
