.layout-contact-sidebar {
  @include span-columns(12);
  margin: 0 auto;
  text-align: center;

  padding: $gutter;
  border-top: 1px solid $vv-light-gray;

  @include media($medium-screen-up) {
    @include span-columns(3, block-collapse);
    @include omega;
    border: 0px;
    float: left;
    padding: 0 0 $gutter $gutter;
    text-align: left;
  }

  &.contact-details {
    /* no op */
    h3 {
      margin: 40px 0 10px 0;

      &:first-of-type, .contactSidebarHeader {
        margin: 0 0 10px 0;
      }

    }

    .directions-link {
      padding: 0;
    }

  }

}