#content {  
  border-radius: $base-border-radius;
  overflow: hidden;
  position: relative; // force a new z-index stacking context
  z-index: 100;

  a {
    word-wrap: break-word;
    word-break: break-word;
  }

  .sub-page-wrap { // removes content area padding so sub-nav flush top
    @include media($medium-screen-up) {
      margin-top: rem(-30);
    }
  }
  
  @include media($medium-screen-up) {
    padding: rem(30) 0 0 0;
  }

  .chat { 
    @include banner('patterns/hex.svg');
    clear: both;
    height: auto;
    padding: $gutter inherit;
    
    @include media($medium-screen-up) {
      max-height: $footer-overlap-height;
      padding: $gutter;
    }    

  }

  
  .select2-container {        
    background: #424c5a;
    height: 60px;
    margin: 10px 2%;
    max-width: 80%;
    min-width: 40%;

    @include media($small-screen-up) {
      clear: both;
      width: 80%;

      &:last-of-type {
        margin-bottom: $medium-gutter;
      }

    }

    @include media($medium-screen-up) {
      clear: none;
      float: left;
      width: 46%;
    }

    @include media($large-screen-up) {
      min-width: 240px;
    }


    a.select2-choice {
      background: #424c5a;
      border: none;
      height: 60px;
      padding: 18px;
      text-align: left;

      .select2-chosen {
        color: #fff;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
      }

      .select2-arrow  {
        background: none;
        border: none;
        width: 60px;

        b {
          background: none;
          padding: 14px;
          text-align: center;

          &:after {
            content: '\002b'; // replace with a new bg img
            color: $white;

            font-weight: $bold;
            font-size: 2.5em;
          }

        }

      }

    }

  }

  .section-info {
    clear: both;
    margin:0 auto;
    text-align: center;
    width: 80%;

    @include media($medium-screen-up) {
      width: 75%;
    }

    h1 a {
      color: $very-dark-gray;

      &:hover {
        color: lighten($very-dark-gray, 15)
      }

    }

  }

  .social-media-feed {
    /* no op */

    .slider {
      padding-bottom: $medium-gutter;
    }

  }

  .featured-blog-post {
    background-color: $off-vv-light-gray;

    @include media($medium-screen-up) {

      &.img-left { /* no op */ }

      &.img-right {
        .img-wrap{ @include shift(6); }
        .txt-wrap{ @include shift(-11); }
      }

      .img-wrap {
        position: relative;
        
        a {
          float: left;
          position: relative;
            left: 50%;

          img {
            display: block;
            float: left;
            max-width: initial;
            position: relative;
              right: 50%;
          }
        }
      }
    }
  }

  .featured-video {
    /* no op */

    &.gold {
      background-color: $medium-dark-orange;
    }

    &.red {
      background-color: $very-dark-red;
    }
    
    @include media($small-screen-up) {
      
      .txt-wrap {
        color: $white;
        padding: $gutter 0;

        h1 a, a.view, a.share, a.read {
          font-weight: $bold;
          color: $white;

          &:hover {
            color: darken($white, 15);
          }

        }
      }

    }

    @include media($medium-screen-up) {

      &.img-left { /* no op */ }

      &.img-right {
        .img-wrap{ @include shift(6); }
        .txt-wrap{ @include shift(-11); }
      }

      .txt-wrap {
        color: $white;
        padding: $gutter 0;

        h1 a, a.view, a.share, a.read {
          font-weight: $bold;
          color: $white;

          &:hover {
            color: darken($white, 15);
          }

        }
      }

      .img-wrap {
        position: relative;
        
        a {
          float: left;
          position: relative;
            left: 50%;

          img {
            display: block;
            float: left;
            max-width: initial;
            position: relative;
              right: 50%;
          }
        }
      }

    }
  }

  #our-story {

    .highlight-text {
      @include highlight-text($dark-teal, $white, $white, $white);
      position: relative;
    }

    .button {      
      background-color: $dark-teal;
      border-color: $dark-teal;
      font-size: 1.75em;
      font-weight: 400;

      @include media($medium-screen-up) {
        font-size: 2.45em;
      }

      &:hover {
        color: $very-dark-gray;
      }
    }

    a {
      /* no op */

      &.edit-link {
        color: $vv-dark-gray;
        font-size: .75em;
        border-bottom:1px dotted $vv-dark-gray;
        position: absolute;
          top:10px;

        &:hover {
          color: $white;
          border-bottom: none;
        }
      }

    }

  }

  .highlight-text.child-page {
    border-top: 1px solid $vv-light-gray;
    @include highlight-text($white, $vv-dark-gray, $vv-dark-gray, $light-medium-gray);
    font-size: 1em;    
    position: relative;

    a {
      /* no op */

      &.edit-link {
        color: $vv-dark-gray;
        font-size: .75em;
        border-bottom:1px dotted $vv-dark-gray;
        position: absolute;
          top:10px;

        &:hover {
          color: $medium-gray;
          border-bottom: none;
        }

      }

    }

  }

  #facilities {

    .button {      
      background-color: $dark-teal;
      border-color: $dark-teal;
      font-size: 1.75em;
      font-weight: 400;

      @include media($medium-screen-up) {
        font-size: 2.45em;
      }

      &:hover {
        color: $very-dark-gray;
      }

    }

  }

  #mission {

    .button {      
      background-color: $dark-teal;
      border-color: $dark-teal;
      font-size: 1.75em;
      font-weight: 400;

      @include media($medium-screen-up) {
        font-size: 2.45em;
      }

      &:hover {
        color: $very-dark-gray;
      }

    }

  }

  .project-slider {
    background-color: $vv-light-gray;

    .project.item {
      /* no op */

      article {
        /* no op */

        img {
          width: 100%;
        }

      }

      .one-column-text, .two-column-text {
        padding: 5% 0;

        h2 {
          text-align:center;
        }
      }

    }

  }

  .facilities.item {
    /* no op */
    article {
      /* no op */
      img {
        width: 100%;
      }
    }
  }

  .one-column-text {
    @include span-columns(10);
    @include shift(1);

    padding:0 0 $gutter;
    text-align: justify;
  }

  .two-column-text {
    @include span-columns(10);
    @include shift(1);

    @include media($medium-screen-up) {
      @include column-count(2);
      @include column-gap(40px); // this should be 1 coulmn gutter, but how?
    }

    padding:0 0 $gutter;
    text-align: justify;
  }

// end content
}

.edit-link {
  position: absolute;
    right: 30px;
}

#team {
  /* no op */
  .button {      
    background-color: $dark-teal;
    border-color: $dark-teal;
    font-size: 1.75em;
    font-weight: 400;

    @include media($medium-screen-up) {
      font-size: 2.45em;
    }

    &:hover {
      color: $very-dark-gray;
    }

  }
}

#services {
  /* no op */
  .button {      
    background-color: $dark-teal;
    border-color: $dark-teal;
    font-size: 1.75em;
    font-weight: 400;

    @include media($medium-screen-up) {
      font-size: 2.45em;
    }

    &:hover {
      color: $very-dark-gray;
    }
  }
}

.single-ideum_project {
  /* no op */
  #content {
    padding-top:0;

    .project-slider {
      background-color: $off-vv-light-gray;

      &.no-slide {
        background-color: $white;
      }

      img.primary-image {
        width:100%;
      }

      .video-wrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0;}
      .video-wrapper object, .video-wrapper embed,  { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

      iframe {
        width: 100%;
        height: 100%;
      }

    }

    .secondary-images {
      @include span-columns(12);
      @include omega;
      @include clearfix;
      margin:$medium-gutter 0;

      h2 {
        margin-bottom: $small-gutter;
      }

      

      li {
        background-color: $off-vv-light-gray;
        border:1px solid $vv-light-gray;
        float:left;
        margin: 0 1% 10px; 
        min-height: 90px;
        max-height: 90px;
        overflow: hidden;

        width: 31%;
        
        object-fit: contain;

        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }

        @include media($medium-screen-up) {
          max-height: 160px;
          min-height: 160px;
        }

        a {
          @include clearfix;
        }

        img {
          margin: 0;          
          padding: 5%;
          max-height: 98%;
          min-height: 90%;
          width:100%;
          object-fit: fill;

          @include media($medium-screen-up) {
            min-height: 88%;

          }
        }

      }

    }

  }

}
