.featured-blog-post.post-style {
  background-color: $off-vv-light-gray;
  width:100%;

  @include media($small-screen-up) {

    .img-wrap {
      background-size: cover;
      height: 32%;
    }

    .txt-wrap {

      @include media($medium-screen-up) { 
        padding-bottom: $gutter * 2;
      }

    }

  }

  @include media($medium-screen-up) {

    &.img-left { 
      /* no op */ 
    }

    &.img-right {
      .img-wrap{ @include shift(6); }
      .txt-wrap{ @include shift(-11); 
      }
    }

    .img-wrap {
      position: relative;
      background-position: top center;
      background-repeat: no-repeat;        
      background-size: cover;
      width: 50%;
      
      a {
        float: left;
        /*position: relative;
          left: 50%;*/
        display: block;
        height: 100%;
        width: 100%;

        img {
          display: block;
          float: left;
          /*max-width: initial;*/
          /*position: relative;
            right: 50%;
          */
          height: 75%;
        }

      }

    }

  }

  @include media($large-screen-up) {

    .img-wrap {

      img {
        height: 65%;
      }

    }

  }

}