.featured-pages, .featured-page { 
  @include span-columns(12);
  @include omega;
  padding-bottom: $medium-gutter;

  @include media($medium-screen-up) { 
    @include display(flex);
    @include flex-wrap(wrap);
    justify-content: space-between;
  }

  .content {
    @include clearfix;
    float: left;
    margin: 0;      
    position: relative;
    width: 100%;
    
    @include media($medium-screen-up) { 
      min-height: 380px;
    }

    @each $class, $bgsize, $image, $bgposvert, $bgposhorz in ( 
      ('initiatives', cover, 'placeholder-featured-pages-initiatives.jpg', 0, 0),
      ('team', cover, 'placeholder-featured-pages-team.jpg', bottom, right),
      ('products', cover, 'placeholder-featured-pages-products.jpg', bottom, right),
      ('projects', cover, 'placeholder-featured-pages-projects.jpg', bottom, right),
      ('team-n-clients', cover, 'placeholder-featured-pages-team-n-clients.jpg', top, right),
      ('direct-sales', cover, 'placeholder-featured-pages-direct-sales.jpg', top, right),
      ('rentals', cover, 'placeholder-featured-pages-rentals.jpg', top, right)
    ) {
      &.#{$class} {
        background: url("images/#{$image}") no-repeat $bgposvert $bgposhorz;
        background-size: $bgsize;
        }
      }
    
    .txt-wrap {
      @include span-columns(10);
      @include shift(1);
      padding:0 0 $medium-gutter 0;

      @include media($medium-screen-up) {
        @include span-columns(8, block-collapse);
        @include shift(2);
        padding: $gutter 0 ($large-gutter * 2);
        flex-wrap: wrap;
      }

      h1, h1 a {
        color: $white;

        &:hover {
          color: darken($white, 15);
        }

      }

      p {
        color: $white;
      }

      .read, .share {
        float: initial;
        margin-right:1em;
      }

      a.read, a.share {
        color: $white;
        display: block;
        float: left;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          color: darken($white, 15);
        }
        
      }

      .footer {
        @include span-columns(12);
        padding: $gutter 0 0 0;

        @include media($medium-screen-up) {
          @include span-columns(8);
          height: 4em;
          margin-top: $medium-gutter;
          padding: 0 0 $large-gutter + $gutter; 
          position: absolute;
            bottom: 0;
        }

      }
    }
  }
}

.featured-pages {

  .content {

    @include media($medium-screen-up) { 
      @include span-columns(6, block-collapse);
      @include omega; 
    }

  }

}

.featured-page {
  padding-bottom: 0;

  .content {
    @include display(flex);
    align-items: center;
    justify-content: center;
    min-height: 440px;

    .txt-wrap {
      float: none;
      margin: 0 auto 0 auto !important;
      padding: $gutter 0;
      text-align: center;     

      .footer { 
        position: initial;
        bottom: initial;
        width: 100%;
      }
    }

  }

}
