.featured-pages { 
  @include span-columns(12); 
  @include omega;   
  padding-bottom: $medium-gutter;

  @include media($medium-screen-up) { 
    @include display(flex);
    @include flex-wrap(wrap);
    justify-content: space-between;
  }

  .content {
    @include clearfix;
    float: left;
    margin: 0;      
    min-height: 380px;
    position: relative;
    width: 100%;

    @include media($medium-screen-up) { 
      @include span-columns(6, block-collapse);
      @include omega; 
    }

    &.initiatives {
      background: url("images/placeholder-featured-pages-initiatives.jpg") no-repeat 0 0;
      background-size:cover;
    }

    &.team {
      background: url("images/placeholder-featured-pages-team.jpg") no-repeat bottom right;
      background-size:cover;
    }  

    .txt-wrap {
      @include span-columns(10);
      @include shift(1);
      padding:0 0 $medium-gutter 0;

      @include media($medium-screen-up) {
        @include span-columns(8, block-collapse);
        @include shift(2);
        padding: $gutter 0 ($large-gutter * 2);
        flex-wrap: wrap;
      }

      h1, h1 a {
        color: $white;

        &:hover {
          color: darken($white, 15);
        }

      }

      p {
        color: $white;
      }

      .read, .share {
        float: initial;
        margin-right:1em;
      }

      a.read, a.share {
        color: $white;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          color: darken($white, 15);
        }
        
      }

      .footer {
        @include span-columns(12);
        padding: $gutter 0 0 0;

        @include media($medium-screen-up) {
          @include span-columns(8);
          height: 4em;
          margin-top: $medium-gutter;
          padding: 0 0 $large-gutter + $gutter; 
          position: absolute;
            bottom: 0;
        }

      }
    }
  }
}
