#header .header-image {
  @include clearfix;
  position: relative; // Force a new z-index stacking context
  z-index: 0;

  // adjustments to pseudo-header will vary by page (as class)
  //
  // Images must be formatted as follows:  The desktop image must be named
  // '{name}-bg.jpg' and the mobile image must be '{name}-bg-phone.jpg'.  {name} may
  // include containing directories, but the two images must reside in the same
  // directory and must both be JPEGs.  Note that if an image is not found, the
  // compiler will throw an error and refuse to continue.
  //
  @each $class, $color, $image, $width, $offset, $bgvert, $bghoriz, $bgheight, $txtorient in ( 
    ('home',                  #2A1210, 'home-pseudo-header-bg-DoE3',                  800px,  200px, center, center,  800px,  left),
    ('our-story',             #352323, 'our-story-pseudo-header-bg-final2',           600px,  100px, center, center,  460px,  center),
    ('mission',               #211f20, 'mission-pseudo-header-bg-final',              600px,  100px, center, center,  460px,  center),
    ('facilities',            #E2E6FD, 'facilities-pseudo-header-bg-final',           600px,  100px, center, center,  460px,  center),
    ('software-initiatives',  #344535, 'software-initiatives-pseudo-header-bg-final', 600px,  100px, center, top,     460px,  center),
    ('team',                  #514748, 'team-pseudo-header-bg-final',                 600px,  100px, center, top,     460px,  center),
    ('services',              #807F7D, 'services-pseudo-header-bg',                   600px,  100px, center, top,     460px,  center),
    ('blog',                  #2c2c2d, 'blog-pseudo-header-bg-final',                 600px,  100px, center, top,     460px,  center),
    ('creative-services',     #2c2c2d, 'cs-worldcup-project-pseudo-header-bg',        800px,  200px, center, center,  800px,  left),
    ('contact',               #2c2c2d, 'contact-pseudo-header-bg-final',              600px,  100px, center, top,     460px,  center),
    ('client-list',           #ef6c6c, '',                                            800px,  250px, center, center,  460px,  center),
    ('customer-support',      #f4c057, '',                                            800px,  250px, center, center,  460px,  center),
    ('legal',                 #3e4857, '',                                            800px,  250px, center, center,  460px,  center),
    ('social-media-feed',     #2c2c2d, 'social-media-pseudo-header-bg',               600px,  100px, center, top,     460px,  center),
    ('thank-you',             #3e4857, '',                                            800px,  250px, center, center,  460px,  center),
    ('jobs',                  #000000, 'jobs-pseudo-header-bg-final',                 600px,  100px, center, top,     460px,  center),
  ) {
    .#{$class} {
      background: $color url("images/header-images/#{$image}-phone.jpg") no-repeat bottom right;
      height: 460px;

      @include media($medium-screen-up) {
        background: $color url("images/header-images/#{$image}.jpg") no-repeat $bgvert $bghoriz;
        background-size: auto $width;
        height: $bgheight;
        margin-bottom: -$offset;
      }

      .page-intro {
        .page-intro-inner {
          padding-left: 10%;
          padding-right: 0;

          @include media($medium-screen-up) {

            @if $txtorient == right {
              padding-left: 0;
              padding-right: 5%;
              right: 0;
            } @elseif $txtorient == center {
              padding-left: 0;
            }
            @else {
              padding-left: 5%;
              left: 0;
            }
          }

        }
      }

      &.no-image {
        @include media($small-screen-up) {
          height: auto;
        }

        @include media($medium-screen-up) {
          height: 460px;
        }
        .page-intro {
          .page-intro-inner {
            padding-left: 0;
          }
        }
      }

    }
  }

  .page-intro {
    @include outer-container;
    height: 100%;

    @include media($medium-screen-up) {
      top: -25%;
      position: relative;
    }

    .page-intro-inner {
      @include span-columns(10);
 

      @include media($medium-screen-up) {
        @include span-columns(7);
        //padding-top: 125px;
        position: absolute;
          top: 40%;
      }

      @include media($large-screen-up) {
        @include span-columns(5);
        //padding-top: 165px;
 
      }

      h1 a, a.view, a.share, a.read {
        text-shadow: 1px 1px 2px #000;
        font-weight: $bold;
        color: $white;

        &:hover {
          color: $very-light-gray;
        }

      }

      h2 {
        display: none;
        text-shadow: 1px 1px 2px #000;
        @include media($medium-screen-up) {
          color: $white;
          display: block;
        }
      }

      .footer {
        font-size:1em;
        margin: $medium-gutter 0;
        text-transform: uppercase;

        a {

          &:hover {
            border-bottom: 3px solid $white;
            color: $white;
            padding-bottom: 5px;
          }
          &.share {
            margin-left: $medium-gutter;
          }

        }

      }

    }

    &.centered-intro {
      @include display(flex);
      align-items: center;
      height: 100% !Important;
      justify-content: center;
      width:100%;

      &.no-image {
        align-items: initial;
      }
  
    @include media($medium-screen-up) {
      height: auto;
    }

      &.section-landing {
        height: 100%;
      }

      .page-intro-inner {
        
        
        height: auto;        
        position: relative;
        text-align: center;
        width: 100%;
        
        @include media($medium-screen-up) {
          height: 70%;
        }

        &.full-text {
          @include media($medium-screen-up) {
            height: 100%;
          }
        }

        h1 {
          font-weight: $bold;
          color: $white;
        }

        h1 a, a.view, a.share, a.read {
          font-weight: $bold;
          color: $white;

          &:hover {
            color: $very-light-gray;
          }

        }

        h2 {
          display: none;
          @include media($medium-screen-up) {
            color: $white;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 72%;
          }
        }

        .footer {
          margin: $medium-gutter 0;

          a {

            &:hover {
              border-bottom: 3px solid $white;
              color: $white;
              padding-bottom: 5px;
            }
            &.share {
              margin-left: $medium-gutter;
            }

          }

        }

      }
    }

  }

}

.project-category-archive .page-intro {
  display: none;
}
