#mobile-slideout-menu {
  @include position(fixed, 0px 0px 0px null);
  @include transition(transform $base-animation-speed $base-animation-easing);

  &.ng-hide-add           { @include transform(translateX(0))    }
  &.ng-hide-add-active    { @include transform(translateX(100%)) }
  &.ng-hide-remove        { @include transform(translateX(100%)) }
  &.ng-hide-remove-active { @include transform(translateX(0))    }

  @include media($medium-screen-up) {
    display: none;
  }

  background-color: $white;
  overflow-y: scroll;
  height: 100%;
  width: 80%;
  z-index: 1000;

  header {
    @include clearfix;
    @include pad(0 default);
    background-color: $very-dark-gray;
    height: rem(60);
    position: relative;

    h1 {
      color: $white;
      font-size: rem(24);
      font-weight: $normal;
      line-height: rem(60);
      margin: 0;
      vertical-align: middle;
    }

    button.close {
      @include position(absolute, 0 0 0 null);
      float: right;
      width: rem(60);
      border: none;
      margin: 0;
      background: $vv-dark-gray;
      color: $white;
    }
  }

  a {
    @include pad($small-gutter default);
    border-bottom: 1px solid $very-light-gray;
    color: $very-dark-gray;
    display: block;
    font-weight: $bold;
    text-transform: uppercase;
  }

  ul > li:hover {background-color: darken($white, 10);}
  ul > li > a {width: 100%;}
  ul > li.current-menu-item, ul > li.current-page-ancestor {background-color: darken($white, 5);}
  ul > li.current-menu-item:hover > a {color: lighten($very-dark-gray, 25); padding-left: $tiny-gutter;}
  ul > li.current-menu-item > a:before {content: '> \00a0';}
  /*ul > li.menu-item-has-children > a:after {content: '\00a0 \25BC \00a0 \00a0'; float: right; transform:scale(1.5,1); -webkit-transform:scale(1.5,1);}
  ul > li.menu-item-has-children:hover > a:after, ul > li.menu-item-has-children:active > a:after {content: '\00a0 \25B2 \00a0 \00a0'; float: right; transform:scale(1.5,1); -webkit-transform:scale(1.5,1);}*/

  ul > li:hover > ul.sub, ul > li:active > ul.sub {display:block;}
  ul > li.current-menu-item ul.sub li > a:before {content: '';}
  ul > li > ul.sub {background-color: darken($white, 5); }
  ul > li > ul.sub li {padding: 0 $gutter; }
  ul > li > ul.sub li a { font-weight:normal;}
  ul > li > ul.sub li.current-menu-item {background-color: darken($white, 10);}
  

}
