.custom-project-listing {

  .slide {
    @include media($small-screen-up)  { width: (100% / 1); }
    @include media($medium-screen-up) { width: (100% / 2); }
    @include media($large-screen-up)  { width: (100% / 3); }
    float:left;
  }
}

.archive .our-creative-services {
  border-bottom:1px solid $very-light-gray;
  @include clearfix;
}

.our-creative-services, .project-post-detail {

  @include media($medium-screen-up) {
    padding-bottom: $gutter * 2;
  }

  .section-info {

    @include media($medium-screen-up) {
      padding-bottom: $gutter ;
    }

  }

  .slide, .project-item {
    
    @include media($small-screen-up) {
      //border-bottom:2px solid $white;
    }

    position: relative;
    overflow: hidden;
    height: 375px;
    max-height:375px;

    * { color: $vv-light-gray; }

    img {
      height: auto;
      min-height: 100%;
      min-width: 100%;
      vertical-align:top;
      width: auto;
    }
    
    a.content-wrap-faux {
      height: 100%;
      width: 100%;
    }

    .content {
      width:80%;
      position: absolute;
        bottom: $gutter; left: 10%; right: 10%;
      text-align: left;
      z-index:400;

      header, .header {
        border-bottom: 3px solid $white;

        &:last-child {
          border-bottom: 0px;
        }

        h1 {
          font-size: 1.43em;
          margin-top: 3px;
          text-shadow: 1px 1px 2px #000;
        }

        h2 {
          font-size: .9em;
          text-shadow: 1px 1px 2px #000;
          text-transform: uppercase;
        }

      }

      p {
        margin-top: $gutter;
        text-shadow: 1px 1px 2px #000;
      }

    }
  }

  .content-wrap {
    background-color: rgba(40, 44, 44, 0.5); 
    opacity: 0; 
    position: absolute; 
    left: 0; top: 0; 
    width: 100%; height: 100%; 
    z-index: 100;

    a {
      display: block;
      height:100%;
      width:100%;

    }
  }

  .project-item:hover {
    .content-wrap {opacity: 1;}
  }
  
}

#content {
  .project-slider {
    .rn-carousel-indicator {
      @include media($small-screen-up) {
        display: block;
        position: absolute;
        span {
          position: relative;
            top: -20px;
        }
      }
      @include media($large-screen-up) {
        position: absolute;
      }
    }
  }
}
