.our-creative-services {
  @include media($medium-screen-up) {
    padding-bottom: $gutter * 2;
  }
  .section-info {
    @include media($medium-screen-up) {
      padding-bottom: $gutter ;
    }
  }
  .slide {
    position: relative;
    overflow: hidden;
    height: 375px;

    * { color: $vv-light-gray; }

    img {
      height: auto;
      min-height: 100%;
      min-width: 100%;
      width: auto;
    }

    .content {
      @include position(absolute, 0 0 0 0);
      @include pad;
      text-align: center;
    }
  }
}
