.post-style {
  @include row;
  display: inline-block;
  overflow: hidden;
  position: relative;
  
  .img-wrap {
    /*@include span-columns(12);*/
    width: 50%;
    margin: 0;
    overflow: hidden;

    @include media($small-screen-up) {
      /*@include span-columns(6);
      @include omega;*/
      width: 100%;
    }

    @include media($medium-screen-up) {
      /*@include span-columns(6);
      @include omega;*/
      float: left;
      width: 50%;
    }
    
    a img:hover {
      opacity: 0.6;
    }

    img {
      display: block;
      @include media($small-screen-up) {
        height: 100%;
        width: 100%;
      }
      @include media($medium-screen-up) {
        float: left;
        height: auto;
        width: initial;
      }
    }

  }
  
  &.img-right {
    /* no op */

    .txt-wrap {
      /*@include span-columns(10);
      @include shift(1);*/
      width: 50%;

      @include media($medium-screen-up) {
        @include span-columns(4);
        @include shift(1);
      }

    }

  }

  &.img-left {
    /* no op */
    
    .txt-wrap {
      @include span-columns(10);
      @include shift(1);

      @include media($medium-screen-up) {
        @include span-columns(5);
        @include shift(.5);
      }

      @include media($large-screen-up) {
        @include span-columns(4);
        @include shift(1);
      }

    }

  }

  .txt-wrap {
    @include omega;
    padding: $large-gutter 0;

    .time {
      color: $medium-gray;
      text-transform: uppercase;

      sup {
        font-stretch: semi-expanded; // comp calls for it - future feature
      }

    }

    .view, .share {
      float: right;
    }

    a.view, a.share, a.read {
      text-transform: uppercase;
    }

    a.read {
      margin-right: 1em;
    }

    h1 a, a.view, a.share, a.read {
      font-weight: $bold;
      color: $very-dark-gray;

      &:hover {
        color: $medium-gray;
      }

    }

    h1 a {
      font-weight: $ultra-bold;
    }

    .footer {
      @include span-columns(12);
      @include omega;
      padding: $gutter 0 0 0;

      @include media($medium-screen-up) {
        @include span-columns(4.5);
        height: 4em;
        padding: 0 0 $large-gutter;        
        position: absolute;
          bottom: 0;
      }

      @include media($large-screen-up) {
        @include span-columns(4);
        height: 4em;
        padding: 0 0 $large-gutter;        
        position: absolute;
          bottom: 0;
      }

    }

  }
  
  .content {
    @include clearfix;
    width: 100%;
  }
}

.productOuterWrapper .rn-carousel-container {
  background-color: #f7f7f7;
}

