
$product-section-height: 480px;
$product-section-height-large: 580px;

$product-section-width: 960px; // corrected spelling of var

$product-spec-list-width: 150px;
$product-spec-list-left-margin: 15px;

.productOuterWrapper{
	background-color: $off-vv-light-gray;

	> header{

		> h1{
			text-align: center;
			text-shadow: 1px 1px 2px #000;
			position: absolute;
			margin-top: 15%;
			width: 100%;
			color: $white;
		}

		> img{
			width: 100%;
			margin: 0px auto;
		}
	}
}

.productInnerWrapper{
	max-width: $product-section-width; // corrected spelling of var
	margin: -20% auto 0 auto;
	z-index: 999;
	position: relative;

	> h1, h2{
		text-align: center;
	}

	> h1{
		margin: 0;
		padding: 1.4em;
		background-color: $white;
	}

	ul.slider{
		background-color: $off-vv-light-gray;
		li.client-slide.rn-carousel-slide{
			text-align: center;

			@include media($small-screen-up){
				border-bottom: 1px solid $vv-light-gray;
				float:left;
				height: auto;
				padding: 0 20px;
				width: 100%;

				&:last-of-type {
					border: 0px;
				}
			}

			@include media($medium-screen-up){
				border: 0px;
				float: none;
				padding: 0 55px;
				width: 50%;
			}

			.svgHolder{
				padding: 30px 35px;
				margin: 45px auto;
				width: 160px;
				height: 160px;
				border-radius: 100px;
				background-color: #FFF;
			}

			.svgHolder > svg{
				fill: black;
			}

      p {
        padding:0 5%;
      }
		}
	}

	ul.slider.platform-coffee li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $platform-coffee-color;
	}

	ul.slider.platform-drafting li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $platform-drafting-color;
	}

	ul.slider.platform li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $platform-color;
	}

	ul.slider.pro li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $pro-color;
	}

	ul.slider.pano li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $pano-color;
	}	

	ul.slider.presenter li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $presenter-color;
	}
}

.productSection {
	background-color: $white;
	width: 100%;

	>img{
		width: 50%;
	}

	@include media($small-screen-up) { 
	
		.prod-sect-img-wrap {

			img {
				width: 100% !Important;
			}

		}

	}

	@include media($medium-screen-up) {
		height: $product-section-height;

		&.more-text {
			height: $product-section-height-large;
		}
	
		.prod-sect-img-wrap {
			@include display(flex);;			
			height: 100%;
			overflow: hidden;
			position:relative;
			width:50%;

			&.img-left {
				float:left;
			}

			&.img-right {
				float:right;
			}

			img {
				width: 100% !Important;
			}

		}

	}

	@include media($large-screen-up) { 
		height: $product-section-height;

		&.more-text {
			height: $product-section-height;
		}
	}

	> .productText{
		@include display(flex);
  	@include flex-direction(column);
  	@include align-items(center);
  	@include justify-content(center);
  	padding: $gutter 4em;
  	
  	@include media($medium-screen-up){ 
			height: $product-section-height;
			padding: 0 4em;
			&.more-text {
				height: $product-section-height-large;
			}
		}

		@include media($large-screen-up){ 

			&.more-text {
				height: $product-section-height;
			}

		}

  	&.white{
  		color: $white;

  		h2, p {
  			color: $white;
  		}

  	}

  	h2{
  		width: 100%;
  		font-weight: $ultra-bold;
  		font-size: 2.25em;
  		text-align: left;
  		padding-bottom: .5em;
  	}

  	p{
  		max-width: 100%;
  		text-align: left;
  	}

  	.specs{
  		@include media($medium-screen-up){
  			margin-left: 186px;
			}
			@include media($large-screen-up){
  			margin-left: 66px;
			}
    	ul.specList{
    		width: 150px;
    		float: left;
    		height: auto;
				margin-left: 15px;
    		li{
    			list-style-type: disc;
    			margin-left: 5px;
    		}

    		li.listHeader{
    			font-weight: $bold;
    			list-style-type: none;
    			margin-left: -10px;
    		}
    	}

    	ul.column2{
    		@include media($medium-screen-up){
  	  		margin-left: $product-spec-list-width + 100px;
    			float: none;
  		}
    	}

    	ul.column3{
    		@include media($medium-screen-up){
  	  		margin-left: $product-spec-list-width + 200px;
    			float: none;
  			}
    	}
    }
  }
	

	// for productText, when there is a full section image, and the text is on the Left
	> .fullLeft, > .fullRight{
		@include media($medium-screen-up){
			width: 50%;
			position: absolute;
  	}
	}

	// " ... when text is on the right
	> .fullRight{
		left: 50%;
	}

	//for images when the section image is half width, text on right
	> .full {
		width: 100%;
		@include media($medium-screen-up){
			float: left;
			width: auto;
  	}
	}

	> .left{
    width: 100%;
		@include media($medium-screen-up){
			float: left;
			width: 50%;
  	}
	}

	// text on left
	> .right{
		width: 100%;
		@include media($medium-screen-up){
			float: right;
			width: auto;
  	}
	}
}

.productSection { 
  position: relative;
  .productText {    
    /* no op */
    .footer {
      @include span-columns(12);
      padding: $gutter 0 0 0;

      @include media($medium-screen-up) {
        @include span-columns(8);
        height: 4em;
        margin-top: $medium-gutter;
        padding: 0 0 $large-gutter + $gutter; 
        position: absolute;
          bottom: 0;
      }

      a.share {
        color: inherit;
        display: block;
        float: left;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          opacity: 0.7;
        }

      }

    }

  }

}

.productSection.plain{
	background-color: $base-background-color;
}

.productSection.platform-coffee{
	background-color: $platform-coffee-color;
}

.productSection.platform-drafting{
	background-color: $platform-drafting-color;
}

.productSection.platform{
	background-color: $platform-color;
}

.productSection.pro{
	background-color: $pro-color;
}

.productSection.pano{
	background-color: $pano-color;
}

.productSection.presenter{
	background-color: $presenter-color;
}


