
$product-section-height: 480px;
$product-section-height-large: 580px;

$product-section-width: 100%; // corrected spelling of var

$product-spec-list-width: 150px;
$product-spec-list-left-margin: 15px;

.productOuterWrapper{
	/*background-color: $off-vv-light-gray; */

	> header{

		> h1{
			text-align: center;
			text-shadow: 1px 1px 2px #000;
			position: absolute;
			width: 100%;
			color: $white;
      @include media($small-screen-up){
        margin-top: 5%;
      }
      @include media($medium-screen-up){
        margin-top: 15%;
      }
		}

		> img{
			width: 100%;
			margin: 0px auto;
		}
	} 
}

.productOuterWrapper {
  .section-info {
    p {
      padding: 0 10%;
    }
  }
}

#touch-walls {
  .section-info {
    p {
      padding: 0 10%;
    }
  }
}

#software-initiatives {
  .section-info {
    p {
      padding: 0 10%;
    }
  }
}

#sprout {
  .section-info {
    p {
      padding: 0 10%;
    }
  }
}

.productInnerWrapper{
	max-width: $product-section-width; // corrected spelling of var
	margin: -20% auto 0 auto;
	z-index: 999;
	position: relative;

	> h1, h2{
		text-align: center;
	}

	> h1{
		margin: 0;
		padding: 1.4em;
		background-color: $white;
	}

	ul.slider{
		background-color: $off-vv-light-gray;
		li.client-slide.rn-carousel-slide{
			text-align: center;

			@include media($small-screen-up){
				/*border-bottom: 1px solid $vv-light-gray;*/
				float:left;
				height: auto;
				padding: 0 20px;
				width: 100%;

				&:last-of-type {
					border: 0px;
				}
			}

			@include media($medium-screen-up){
				border: 0px;
				float: none;
				padding: 0 55px;
				width: 50%;
			}

			.svgHolder{
				padding: 30px 35px;
				margin: 45px auto;
				border-radius: 100px;
				background-color: #FFF;

        @include media($small-screen-up){
          height: 120px;
          width: 120px;
        }
        @include media($medium-screen-up){
          height: 160px;
          width: 160px;
        }
			}
      .svgHolder.twotimes{
        padding: 20px 10px;
      }
      .svgHolder.edison{
        padding: 40px 35px;
      }


			.svgHolder > svg{
				fill: black;
			}

      p {
        padding:0 5%;
      }
		}
	}

	ul.slider.platform-coffee li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $platform-coffee-color;
	}

	ul.slider.platform-drafting li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $platform-drafting-color;
	}

	ul.slider.platform li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $platform-color;
	}

	ul.slider.pro li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $pro-color;
	}

	ul.slider.pano li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $pano-color;
	}	

  ul.slider.colossus li.client-slide.rn-carousel-slide .svgHolder > svg{
    fill: $colossus-color; 
  } 

	ul.slider.presenter li.client-slide.rn-carousel-slide .svgHolder > svg{
		fill: $presenter-color;
	}
}

.productSection {
	background-color: $white;
	width: 100%;

	>img{
		width: 50%;
	}

	@include media($small-screen-up) { 
	
		.prod-sect-img-wrap {

			img {
				height: 100%;
        width: 100% !Important;
			}

		}

	}

	@include media($medium-screen-up) {
		height: $product-section-height;

		&.more-text {
			height: $product-section-height-large;
		}
	
		.prod-sect-img-wrap {
			@include display(flex);
			height: 100%;
			overflow: hidden;
			position:relative;
			width:50%;

			&.img-left {
				float:left;
			}

			&.img-right {
				float:right;
			}

			img {
				height: auto;
        width: 100% !Important;
			}

		}

	}

	@include media($large-screen-up) { 
		height: $product-section-height;

		&.more-text {
			height: $product-section-height;
		}
	}

	> .productText{
		@include display(flex);
  	@include flex-direction(column);
  	@include align-items(center);
  	@include justify-content(center);
  	padding: $gutter 4em;
  	
  	@include media($medium-screen-up){ 
			height: $product-section-height;
			padding: 0 4em;
			&.more-text {
				height: $product-section-height-large;
			}
		}

		@include media($large-screen-up){ 

			&.more-text {
				height: $product-section-height;
			}

		}

  	&.white{
  		color: $white;

  		h2, p, a {
  			color: $white;
  		}

  	}

  	h2{
      font-family: "Roboto-Black", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  		font-weight: $ultra-bold;
  		font-size: 2em;
  		text-align: left;
  		padding-bottom: .5em;
      width: 100%;
  	}

  	p{
  		width: 100%;
  		text-align: left;
      color: #999999;
      &.note {
        font-size: 11px;
        margin-top: 20px;
      }
  	}

    p.learnMore{
      width: 100%;
      text-align: left;
      color: #999999;
      margin-top:20px;
      a:hover { opacity:.8; }
    }

  	.specs{
  		margin-left: 0;
      width: 100%;

    	ul.specList{
    		width: 150px;
    		float: left;
    		height: auto;
				margin-left: 15px;
    		li{
    			list-style-type: disc;
    			margin-left: 5px;
    		}
    		li.listHeader{
    			font-weight: $bold;
    			list-style-type: none;
    			margin-left: -10px;
    		}
        &.fuller {
          width: 100%;
        }
    	}

      &.singlelist {
        width: 100%;
        ul.specList{
          width: 100%;
          li{
            list-style-type: disc;
            margin-left: 5px;
          }
        }
      }

    	ul.column2{
    		@include media($medium-screen-up){
  	  		margin-left: $product-spec-list-width + 100px;
    			float: none;
  		}
    	}

    	ul.column3{
    		@include media($medium-screen-up){
  	  		margin-left: $product-spec-list-width + 200px;
    			float: none;
  			}
    	}
    }
  }
	

	// for productText, when there is a full section image, and the text is on the Left
	> .fullLeft, > .fullRight{
		@include media($medium-screen-up){
			width: 60%;
			position: absolute;
  	}
    @include media($large-screen-up){
      width: 50%;
      position: absolute;
    }
	}
  .bleeder > .fullLeft, > .fullRight{
    @include media($medium-screen-up){
      width: 40%;
    }
  }

	// " ... when text is on the right
	> .fullRight{
		left: 50%;
	}

	//for images when the section image is half width, text on right
	> .full {
		width: 100%;
		@include media($medium-screen-up){
			float: left;
			width: 100%;
  	}
	}

	> .left{
    width: 100%;
		@include media($medium-screen-up){
			float: left;
			width: 50%;
  	}
	}

	// text on left
	> .right{
		width: 100%;
		@include media($medium-screen-up){
			float: right;
			width: auto;
  	}
	}
}

.productSection { 
  position: relative;
  .productText {
    /* no op */
    .footer {
      @include span-columns(12);
      padding: $gutter 0 0 0;

      @include media($medium-screen-up) {
        height: 4em;
        padding: $gutter 0px;
        position: relative;
        width: 100%;
      }

      a.share {
        color: inherit;
        display: block;
        float: left;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          opacity: 0.7;
        }

      }

    }

  }

}

.productSection.plain{
	background-color: $base-background-color;
}

.productSection.platform-coffee, .made-in-usa.platform-coffee, .featured-video.platform-coffee {
	background-color: $platform-coffee-color;
}

.productSection.platform-drafting, .made-in-usa.platform-drafting, .featured-video.platform-drafting {
	background-color: $platform-drafting-color;
}

.productSection.platform, .made-in-usa.platform, .featured-video.platform {
	background-color: $platform-color;
}

.productSection.pro, .made-in-usa.pro, .featured-video.pro {
	background-color: $pro-color;
}

.productSection.pano, .made-in-usa.pano, .featured-video.pano {
	background-color: $pano-color;
}

.productSection.colossus, .made-in-usa.colossus, .featured-video.collossus {
  background-color: $colossus-color;
}

.productSection.presenter, .made-in-usa.presenter, .featured-video.presenter {
	background-color: $presenter-color;
}

.made-in-usa {
  background-image: url("images/made-in-usa.png");
  background-repeat: no-repeat;
  height:150px;
  line-height: 150px;
  text-align: center;
  width: 100%;
  
  h2 {
    color: $white;
    display: inline-block;
    font-weight: $bold;
    line-height: normal; 
    vertical-align: middle;
  }

}

/* productSection featured video adjustemnts */
.productSection.featured-video {
  height: auto;
}

.productSection.featured-video.post-style {
  display: block;
  .img-wrap { 
    @include media($small-screen-up) { 
      width:100%;
    } 
    @include media($medium-screen-up) { 
      width: 50%; 
    }
  }
}

.productSection  {
  .prod-sect-img-wrap.vid-block {
    a {
      display: inline-block;
      overflow: hidden;
      position: relative;
      img {
        @include media($small-screen-up) { 
          height: auto;
        } 
        @include media($medium-screen-up) { 
          height: 480px; 
          max-width: none;
          width: 640px !Important;
        }
      }
      .text-overlay {
        background-color: #000;
        color: #FFF;
        display: inline-block;
        font-size: 2.5vw;
        font-weight: bold;
        letter-spacing: +1.8px; 
        line-height: 6vh;
        opacity: .5;
        position: absolute;
          bottom: 2%; left: 0;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        @include media($small-screen-up) {  
          padding: 1.5vh 2em;
        }
        @include media($medium-screen-up) {  
          padding: 2.5vh 2.5em;
        }
        @include media($large-screen-up) {  
          padding: 3vh 2.5em;
        }
      }
      .play-button-overlay {
        background: #FFF url('/wp-content/themes/ideum/images/video-play-button.png') no-repeat;
        height: 82px;
        margin: auto;
        opacity: .9;
        position: absolute;
          top: 0; left: 0; bottom: 0; right: 0;
        text-align: center;
        width: 82px;
      }
    }
  }
}

/* begin hacks for product section full with image bleed */
@include media($small-screen-up){
  .productSection.bleeder { background-repeat: no-repeat; }
  .productSection.bleeder.tablet-n-desktop { position: absolute; top: -4000px; left: -4000px; }
  .productSection.bleeder > .fullLeft, .productSection > .fullRight {
    width: 100%;
  }
  .productSection.bleeder > .productText {
    padding: $gutter 4em;
  }
}
@include media($medium-screen-up){
  .productSection.bleeder { background-position-x: -2% !important; background-repeat: no-repeat; }
  .productSection.bleeder.tablet-n-desktop { position: relative; top: -0; left: -0; }
  .productSection.bleeder > .fullLeft, .productSection > .fullRight {
    width: 50%;
  }
  .productSection.bleeder > .productText {
    padding: 0 4em;
  }
}
@include media($large-screen-up){
  .productSection.bleeder { background-repeat: no-repeat; background-position: top center; background-size: cover; }
  .productSection.bleeder > .fullLeft, .productSection > .fullRight {
    width: 40%;
  }
  .productSection.bleeder > .productText {
      padding: 0 6em;
    }
  }
  /* end hacks for product section full with image bleed */

.text-shadow {
  text-shadow: 1px 1px 2px #000;
}

.productInnerWrapper {

  header {

    h1, h2 {

      @include media($small-screen-up) {
        padding: 0 8%;
      }

      @include media($medium-screen-up) {
        padding: 0;
      }

    }
  }
}
