.rn-carousel-slides {
  @include display(flex);

  .rn-carousel-slide {
    display: block;
    @include flex(0 0 auto);
  }
}

.slider {
  .rn-carousel-slide {
    height: initial;
    width: 100%;
    display: block;

    @include media($medium-screen-up) { width: (100% / 2); }
    @include media($large-screen-up)  { width: (100% / 3); }

    &.product-slide {
      @include media($medium-screen-up) { width: (100% / 1); }
      @include media($large-screen-up)  { width: (100% / 1); }
    }
    &.facilities-slide {
      @include media($medium-screen-up) { width: (100% / 1); }
      @include media($large-screen-up)  { width: (100% / 1); }
    }
    &.story-slide {
      @include media($medium-screen-up) { width: (100% / 2); }
      @include media($large-screen-up)  { width: (100% / 2); }
      img {
        width: 100%;
      }
    }
    &.talking-point-slide {
      @include media($medium-screen-up) { width: (100% / 2); }
      @include media($large-screen-up)  { width: (100% / 2); }
    }
    &.client-slide {
      @include media($small-screen-up) { width: (100% / 2); }
      @include media($medium-screen-up) { width: (100% / 3); }
      @include media($large-screen-up)  { width: (100% / 4); }
    }
   
  }

}

.rn-carousel-controls {
  .rn-carousel-control {
    background: $very-light-gray;
    display: none;
    font-size: rem(18);
    opacity: 0.9;
    line-height: rem(70);
    text-align: center;
    vertical-align: middle;

    @include media($medium-screen-up) { 
      display: block;
      width: 2em;
    }

    &:hover { opacity: 1 }
    &-prev { @extend .icon-arrow-left;  left: 0;  }
    &-next { @extend .icon-arrow-right; right: 0; }
  }
}
.rn-carousel-container {
  clear: left;
  width:100% !important; // temporary hack to fix two-up slider width in medium size
}
// the slider pips
.rn-carousel-indicator {
  @include pad(default 0);

  // Remove default background
  background: transparent;
  box-sizing: content-box;

  

  @include media($small-screen-up) { 
    display: none;
  }
  @include media($medium-screen-up) { 
    display: inline-block;
  }

  span {
    @include size(14px);
    background-color: $very-light-gray;
    border-radius: 50%;
    display: inline-block;
    margin: 0 .6em;

    // Remove default pip
    &:before { content: '' }

    &:hover {
      background-color: $very-dark-gray;
    }
    &.active {
      @include size(16px);
      background-color: $white;
      border: 3px solid $very-dark-gray;
      &:hover {
        border: 3px solid $light-gray;
      }
    }
  }
}
#creative-services, #facilities, #our-story, #services, .home {
  .rn-carousel-indicator {
    clear: both;
    display: block;
    padding-top: rem(10);
  }
}

.front-page-featured-projects {
  .slider.project-wrap {
    padding-bottom: $gutter * 1.5;
  }
  .section-info {
    padding-bottom: 0px !important;
  }
}
