nav.sub-nav {
  @include navi-effect($very-dark-gray);
  @include flex(2);
  @include pad;
  padding: rem(10px) 0;

  @include media($medium-screen-up) {
    text-align: center;
  }

  button {
    display: block;
    @include media($medium-screen-up) { display: none; }

    float: right;
    background-color: transparent;
    border: none;
  }

  ul {
    display: inline-block; 
    padding: 0 5% ;

    @include media($medium-screen-up) { 
      padding: 0 5%;
    }
  
    @include media($large-screen-up) {  
      margin-top: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin: 0 2em 4px 0;
      float:left;

      @include media($medium-screen-up) {
        margin: 0 2em 0 0;
      }

      @include media($large-screen-up) {
        float: none;
      }

      &:last-child {
        margin-right: 0;
      }
      &.current-menu-item, &.current_page_item {
        a {
          color: $very-dark-gray;
        }
      }
    }
  }

  a {
    text-transform: uppercase;
    color: $dark-gray;
    /*color: $light-gray;*/ /* was $very-light-gray */
    font-weight: bold;
    position: relative;
    &:hover {
      color: $very-dark-gray;
    }
  }
}
