.tabs-table{
	margin: 0 auto;
	width: 100%;
}

.tabs-nav{
	margin: 0px auto;
	text-align: center;	
	/* adjustment to make tab flex width */
	@include media($medium-screen-up){
		display: flex;
		flex-direction: row;
	}
	width: 80%;

	li{
		display: inline-block;
		padding: 0;
		/* adjustment to make tab flex width */
			flex-grow: 1;
			border-right:1px solid #f0f0f0;

		&:last-of-type {
			border:none;
		}

		a, a:visited{
			color: $white;
			display: block;
			font-weight: $bold;
			
			text-transform: uppercase;
			text-decoration: none;
			/* adjustment to make tab flex width */
				/*min-width: 240px;*/
				@include media($small-screen-up){
					min-width: 240px;
					padding: 2.4em 0;
				}
				@include media($medium-screen-up){
					min-width: inherit;
					padding: 3.5em 0;
				}
		}
		a::after {
			@extend %icon;
			@extend .icon-caret-down:before;
			margin-left: 2em;
		}
	}
	li.ng-scope.active > a{
		background-color: $white;
		color: $vv-dark-gray;
	}
}

.platform-coffee .tabs-nav a{
	background-color: darken($platform-coffee-color, 12%);
}
.platform-drafting .tabs-nav a{
	background-color: darken($platform-drafting-color, 12%);
}
.platform .tabs-nav a{
	background-color: darken($platform-color, 20%);
}
.pro .tabs-nav a{
	background-color: darken($pro-color, 12%);
}
.pano .tabs-nav a{
	background-color: darken($pano-color, 12%);
}
.colossus .tabs-nav a{
	background-color: darken($colossus-color, 12%);
}
.presenter .tabs-nav a{
	background-color: darken($presenter-color, 12%);
}

.tab-content{
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $vv-light-gray;
	background-color: $white;
	position: relative;

	min-height: 130px;
	@include media($large-screen-up){
  	min-height: 760px;
	}

	header{
		text-align: center;
		@include media($small-screen-up){
	  	padding-bottom: 20px;
		}
		@include media($large-screen-up){
	  	padding-bottom: 0px;
		}

		> h2 {
			@include media($small-screen-up){
    		color: #7e7e7e;
    		font-size: 24px;
				font-weight: 200;
				margin-bottom: .5em;
				padding: 0 5%;
  		}
			@include media($medium-screen-up){
    		font-size: 34px;    		
				margin-bottom: 1em;
				padding: 0 20%;
  		}
		}
	}
}