@import "bourbon/dist/bourbon";

$touchtable-content-color: rgba(255,255,255,0.7);
$touchtable-transition-time: 0.25s;
$touchtable-description-margin: 25px;

@mixin bgAndBorderColor($color){
  background-color: $color;
  border-color: $color !important; 
}

.product-category {
  margin: 0 auto;
  display: block;
  position: relative;
  max-width: 1280px;
  color: white;

  video {
    width: 100% !important;
    height: auto !important;
    margin: 0;
    padding: 0;
    display: none;
    @include media($medium-screen-up) {
      display: block;
    }
  }

  img.mobile-fallback {
    width: 100%;
    display: block;
    @include media($medium-screen-up) {
      display: none;
    }
  }

  .overlay{
    @include transition (all $touchtable-transition-time);
    @include position(absolute, 0 0 0 0);
    background-color: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;

    .content {
      @include position(absolute, 0 0 0 0);
      @include display(flex);
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      text-align: center;
      color: $touchtable-content-color;

      h2,p,a{
        @include transition (all $touchtable-transition-time);
      }
      h2,p {
        text-shadow: 1px 1px 2px #000;
      }

      h2{
        color: $touchtable-content-color;
        font-size: 2rem;
        font-weight: $bold; 
      }

      p{
        max-width: 640px;
        display: none;
        font-size: 1em;
        margin: $touchtable-description-margin auto 0;

        @include media($large-screen-up){
          display: block;
        }
      }

      a{
        color: $touchtable-content-color;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: $bold;
        margin: $touchtable-description-margin auto 0;
        padding: 15px 35px;
        display: inline-table;
        background-color: transparent;
        border: 3px solid $touchtable-content-color;
        border-radius: 3px;
      }

      //TODO: variablize the color as a class.
      a:hover{
        color: white;
        background-color: orange;
        border-color: orange !important;
      }

      a.coffee:hover{
        @include bgAndBorderColor($platform-coffee-color);
      }

      a.drafting:hover{
        @include bgAndBorderColor($platform-drafting-color);
      }

      a.platform:hover{
        @include bgAndBorderColor($platform-color);
      }

      a.pro:hover{
        @include bgAndBorderColor($pro-color);
      }

      a.pano:hover{
        @include bgAndBorderColor($pano-color);
      }

      a.presenter:hover{
        @include bgAndBorderColor($presenter-color);
      }
    }
  }

  .overlay:hover{
    background-color: rgba(0,0,0,0);

    .content{
      h2,p,a {
        color: white;
      }

      a{
        border-color: white;
      }
    }
  }
}

// New Touch Tables Design
#touch-tables.redux {
  /* no op */
  .productSection {     
    position: relative;

    &.img-right {
      .prod-sect-img-wrap {
        float: right;
      }
      .productText {
        float: left;
      }
    }
    &.img-left {
      .prod-sect-img-wrap {
        float: left;
      }
      .productText {
        float: right;
      }
    }

    .prod-sect-img-wrap {
      @include media($medium-screen-up) {
        width: 60%; 
      }
      @include media($large-screen-up) {
        width: calc(100% - 425px); 
      }
      img {
        width: 100% !Important;
      }

      a.img-link {
        height: 100%;
        width: 100%;
      }

    }

    .productText { 
      display: block;
      position: relative;

      @include media($small-screen-up) {
        padding-bottom: 10em; 
        width: 100%;
      }

      &.colossus {
        background-color: $colossus-color;
        a.product-button {
          color: $colossus-color;
        }
      }

      &.platform {
        background-color: $platform-color;
        a.product-button {
          color: $platform-color;
        }
      }

      &.platform-coffee {
        background-color: $platform-coffee-color;
        a.product-button {
          color: $platform-coffee-color;
        }
      }

      &.platform-drafting {
        background-color: $platform-drafting-color;
        a.product-button {
          color: $platform-drafting-color;
        }
      }

      &.pano {
        background-color: $pano-color;
        a.product-button {
          color: $pano-color;
        }
      }

      &.presenter {
        background-color: $presenter-color;
        a.product-button {
          color: $presenter-color;
        }
      }

      &.pro {
        background-color: $pro-color;
        a.product-button {
          color: $pro-color;
        }
      }

      @include media($medium-screen-up) {
        width: 40%;
        padding: 3.75em 1%;
      }
      @include media($large-screen-up) {
        width: 425px; 
        padding: 3.75em;
      }

      h2 {
        color: $white;
        font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 2em;
        letter-spacing: +2px;
        padding-bottom: 0;
        text-transform: uppercase;
        width: 100%; 

        @include media($small-screen-up) {
          text-align: center;
        }

        @include media($large-screen-up) {
          text-align: left;
        }

      }

      h3 {
        color: $white;
        font-size: 1.25em;
        font-weight: normal;
        letter-spacing: +1px;
        text-transform: none;

        @include media($small-screen-up) {
          text-align: center;
        }

        @include media($large-screen-up) {
          text-align: left;
        }

      }

      p {
        color: $white;
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 20px; 

        @include media($small-screen-up) {
          text-align: center;
        }

        @include media($large-screen-up) {
          //max-width: 65%;
          text-align: left;
        }

      }
      
      .button-wrap {
        position: absolute;
          bottom: 48px;
        @include media($small-screen-up) {
          width: calc(100% - 7.25em);
        }
        @include media($medium-screen-up) {
          width: 100%;
        }
        @include media($large-screen-up) {
          width: calc(100% - 7.25em);
        }

        a.product-button {
          background-color: #fff;
          display: block;
          height: 60px;
          margin: 0 auto;
          padding: 1.25em 3em;
          width: 160px;
          &:hover {
            opacity: 0.65;
          }       
        }

      }

    }

  }

}
