$productpage-circle-arrow-buttons-diameter: 40px;
$productpage-lightgray: #f4f4f4;
$productpage-text-color: #333;

@mixin x-ray-image($image){
  > .overlay{
    background-image: url($image);
    background-color: white;
    background-position: top center; 
    background-repeat: no-repeat; 
  }
}

@mixin navAndButtonColors($color){
  > .overlay {
    nav a.active{
      color: $color;
    }
    > button:enabled:hover{
      background-color: $color;
    }
  }
}

body {
  background: #f0f0f0;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $productpage-text-color;
}

.x-ray {
  @include size(100% 760px);
  margin: 0 auto;
  position: relative;
  display: none;
  background-position: 50% 50%; 
  background-repeat: no-repeat; 

  @include media($large-screen-up){
    display: block;
  }

  /*
  x-ray and overlay stylings fmt:
  - background image for full image
  - mixin for outline image
  - mixin for nav styling and button hovers
  */
  &.platform-coffee{
    background-image: url("images/x-rays/platform-coffee-img.png");
    @include x-ray-image("images/x-rays/platform-coffee-outline.png");
    @include navAndButtonColors($platform-coffee-color);
  }

  &.duet-46-coffee{
    background-image: url("images/x-rays/platform-coffee-img.png");
    @include x-ray-image("images/x-rays/platform-coffee-outline.png");
    @include navAndButtonColors($platform-coffee-color);
  }

  &.duet-42-coffee{
    background-image: url("images/x-rays/duet-42-coffee-img.png");
    @include x-ray-image("images/x-rays/duet-42-coffee-outline.png");
    @include navAndButtonColors($platform-coffee-color);
  }

  //platform styles
  &.platform46{
    background-image: url("images/x-rays/platform46-img.png");
    @include x-ray-image("images/x-rays/platform46-outline.png");
    @include navAndButtonColors($platform-color);
  }

  &.platform55{
    background-image: url("images/x-rays/platform55-img.png");
    @include x-ray-image("images/x-rays/platform55-outline.png");
    @include navAndButtonColors($platform-color);
  }

  &.platform55pcap{
    background-image: url("images/x-rays/platform55pcap-img.png");
    @include x-ray-image("images/x-rays/platform55pcap-outline.png");
    @include navAndButtonColors($platform-color);
  }

  //drafting table styles
  &.platform-drafting-46{
    background-image: url("images/x-rays/platform-drafting46-img.png");
    @include x-ray-image("images/x-rays/platform-drafting46-outline.png");
    @include navAndButtonColors($platform-drafting-color);
  }

  &.platform-drafting-55{
    background-image: url("images/x-rays/platform-drafting55-img.png");
    @include x-ray-image("images/x-rays/platform-drafting55-outline.png");
    @include navAndButtonColors($platform-drafting-color);
  }

  &.platform-drafting-55-pcap{
    background-image: url("images/x-rays/platform-drafting55-pcap-img.png");
    @include x-ray-image("images/x-rays/platform-drafting55-pcap-outline.png");
    @include navAndButtonColors($platform-drafting-color);
  }
  
  &.platform-drafting-65{
    background-image: url("images/x-rays/platform-drafting65-img.png");
    @include x-ray-image("images/x-rays/platform-drafting65-outline.png");
    @include navAndButtonColors($platform-drafting-color);
  }

  &.pro{
    background-image: url("images/x-rays/pro-img.png");
    @include x-ray-image("images/x-rays/pro-outline.png");
    @include navAndButtonColors($pro-color);
  }

  &.pro-lab{
    background-image: url("images/x-rays/pro-lab-img.png");
    @include x-ray-image("images/x-rays/pro-lab-outline.png");
    @include navAndButtonColors($pro-color);
  }

  &.pano{
    background-image: url("images/x-rays/pano-img.png");
    @include x-ray-image("images/x-rays/pano-outline.png");
    @include navAndButtonColors($pano-color);
  }

  //Presenter styles
  &.presenter-46{
    background-image: url("images/x-rays/presenter46-img.png");
    @include x-ray-image("images/x-rays/presenter46-outline.png");
    @include navAndButtonColors($presenter-color);
  }

  &.presenter-55{
    background-image: url("images/x-rays/presenter55-img.png");
    @include x-ray-image("images/x-rays/presenter55-outline.png");
    @include navAndButtonColors($presenter-color);
  }

  &.presenter-55-pcap{
    background-image: url("images/x-rays/presenter55-pcap-img.png");
    @include x-ray-image("images/x-rays/presenter55-pcap-outline.png");
    @include navAndButtonColors($presenter-color);
  }

  &.presenter-65{
    background-image: url("images/x-rays/presenter65-img.png");
    @include x-ray-image("images/x-rays/presenter65-outline.png");
    @include navAndButtonColors($presenter-color);
  }

  &.presenter-75{
    background-image: url("images/x-rays/presenter75-img.png");
    @include x-ray-image("images/x-rays/presenter75-outline.png");
    @include navAndButtonColors($presenter-color);
  }
}

.overlay {
  @include position(absolute, 0 0 null 0);
  height: 260px;
  border: 1px solid gray;

  @include transition(
    top 0.8s ease,
    height 0.8s ease,
    background-position 0.8s ease
  );

  nav {
    background: $productpage-lightgray; 
    line-height: 28px;
    text-align: center;

    a {
      color: #3e4857;
      @include transition(color 0.4s ease-in);
      font: { size: 11px; weight: 500; }
      text: { transform: uppercase; decoration: none; }
      padding-right: 2em;

      &:last-child { padding-right: 0 }
    }
  }

  .content {
    @include position(absolute, 40px 165px 0px 165px);
    text-align: center;

    @extend %hide-and-show;

    h2 {
      font-size: 30px;
      font-weight: 200;
      margin-bottom: 12px;
    }

    .body {
      @extend %hide-and-show;
      margin:0 auto;
      max-width: 650px;

      ul {
        display: inline-block;
        list-style-image: disc;
        list-style-type: disc;

        li {
          text-align: left;
        }

      }

    }

    //show content button
    > button {
      @include position(absolute, null 0px 30px 0px);
      margin: { left: auto; right: auto; }
      padding: 20px 5px;
      width: 300px;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-weight: bold;
      font-size: 1rem;
      border-radius: 4px; 
      border: none;
      background-color: $very-dark-gray;
      @extend %hide-and-show;
    }

    button:active, > button:focus {
      outline-style:none
    }

    button:hover{

    }
  }

  //next and previous buttons
  > button {
    position: absolute;
    right: 70px;
    padding: 0;
    height: $productpage-circle-arrow-buttons-diameter;
    width: $productpage-circle-arrow-buttons-diameter;
    border-radius: $productpage-circle-arrow-buttons-diameter/2;
    border: none;
    background-color: $productpage-lightgray;
    color: $light-gray;
    font-size: 16px;

    &.prev, &.next{
      @include transition(all .25s);
      font-family: ideum-icons;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      speak: none;
      text-transform: none;
    }
    &.prev { 
      top: 70px;
      @extend .icon-caret-up;
    }
    &.next {
      top: 181px; 
      @extend .icon-caret-down;
    }

    @include transition(opacity 0.4s ease);
    &.ng-hide-remove {
      opacity: 0;
      &-active { opacity: 1 }
    }
    &.ng-hide-add {
      opacity: 1;
      &-active { opacity: 0 }
    }
  }

  > button:active, > button:focus {
    outline-style:none
  }

  > button[disabled=disabled], button:disabled{
    color: lighten($productpage-text-color, 50%);
  }

  > button:enabled:hover{
    color: white;
  }
}

%hide-and-show {
  @include transition(opacity 0.3s ease);

  &.ng-hide-remove {
    opacity: 0;
    @include transition-delay(0.5s);
    &-active { opacity: 1 }
  }
  &.ng-hide-add {
    opacity: 1;
    &-active { opacity: 0 }
  }
}