/**
 * Social icons, including RSS, from the Zocial icon font
 * (http://zocial.smcllns.com/); all other icons from IcoMoon Essential Pack
 * (https://icomoon.io/). Font built using Fontello (http://fontello.com).
 */
$icons: (
  tumblr:           '\e801',
  instagram:        '\e802',
  github:           '\e800',
  gplus:            '\e80d',
  flickr:           '\e80e',
  rss:              '\e80f',
  linkedin:         '\e810',
  twitter:          '\e811',
  youtube:          '\e812',
  vimeo:            '\e813',
  facebook:         '\e814',
  pinterest:        '\e815',
  caret-up:         '\e816',
  caret-right:      '\e817',
  caret-down:       '\e818',
  caret-left:       '\e819',
  arrow-up-left:    '\e81a',
  arrow-up:         '\e81b',
  arrow-up-right:   '\e81c',
  arrow-right:      '\e81d',
  arrow-down-right: '\e81e',
  arrow-down:       '\e81f',
  arrow-down-left:  '\e820',
  arrow-left:       '\e821',
  menu:             '\e822',
  close:            '\e823',
  dribbble:         '\e824',
  phone:            '\e825',
  phone-ring:       '\e826',
  location-pin:     '\e827',
  online:           '\e828',
  email:            '\e829',
  behance:          '\e82a',
  empty:            '\000a0'
);

@include font-face(ideum-icons, 'fonts/ideum-icons'); 

%icon {
  font-family: icons;
  font-family: ideum-icons, social-icons;
  font-size: 11px, 13px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal; 
  speak: none; 
  text-transform: none;
}

@each $icon, $codepoint in $icons {
  .icon-#{$icon} {
    @extend %icon;
    &:before { content: $codepoint }
  }
}
