#content {
  @include outer-container;
  background-color: $content-background-color;
}

@include media($small-screen-up) {
  .phone-only {
    visibility: visible !Important;
    position: initial;
      left: initial; top: initial;
    &.gone {
      display: block;
    }
  }
  .phone-n-tablet {
    visibility: visible !Important;
    position: initial;
      left: initial; top: initial; 
    &.gone {
      display: block;
    }     
  }
  .tablet-only {
    visibility: hidden !Important;
    position: absolute;
      left: -4000px; top:-4000px; 
    &.gone {
      display: none;
    }   
  }
  .tablet-n-desktop {
    visibility: hidden !Important;
    position: absolute;
      left: -4000px; top:-4000px; 
    &.gone {
      display: none;
    }   
  }
  .desktop-only {
    visibility: hidden !Important;
    position: absolute;
      left: -4000px; top:-4000px;
    &.gone {
      display: none;
    }
  }
}

@include media($medium-screen-up) {
  .phone-only {
    visibility: hidden !Important;
    position: absolute !Important;
      left: -4000px; top:-4000px;
    &.gone {
      display: none;
    }
  }
  .phone-n-tablet {
    visibility: visible !Important;
    position: initial;
      left: initial; top: initial;
    &.gone {
      display: block;
    }
  }
  .tablet-only {
    visibility: visible !Important;
    position: initial;
      left: initial; top: initial;
    &.gone {
      display: block;
    }
  }
  .tablet-n-desktop {
    visibility: visible !Important;
    position: initial;
      left: initial; top: initial;
    &.gone {
      display: block;
    }
  }
  .desktop-only {
    visibility: hidden !Important;
    position: absolute !Important;
      left: -4000px; top:-4000px;
    &.gone {
      display: none;
    }
  }
}

@include media($large-screen-up) {
  .phone-only {
    visibility: hidden !Important;
    position: absolute !Important;
      left: -4000px; top:-4000px;
    &.gone {
      display: none;
    }
  }
  .phone-n-tablet {
    visibility: hidden !Important;
    position: absolute !Important;
      left: -4000px; top:-4000px;
    &.gone {
      display: none;
    }
  }
  .tablet-only {
    visibility: hidden !Important;
    position: absolute !Important;
      left: -4000px; top:-4000px;
    &.gone {
      display: none;
    }
  }
  .tablet-n-desktop {
    visibility: visible !Important;
    position: initial;
      left: initial; top: initial;
    &.gone {
      display: block;
    }
  }
  .desktop-only {
    visibility: visible !Important;
    position: initial;
      left: initial; top: initial;
    &.gone {
      display: block;
    }    
  }
}
