{% for post in featured %}

<section class="featured-blog-post post-style img-left">

  <article class="content">

    <div class="img-wrap">

      <a href="#FIXME"><img src="{{theme.link}}/images/placeholder-blog-post-image.jpg"></a>

    </div>

    <div class="txt-wrap">

      <time class="time">July 30<sup>th</sup></time>
      <a class="view" href="#FIXME">View All</a>

      <h1>
        <a href="#FIXME">Blog Post<!-- with a Long Double Line Title --></A>
      </h1>

      <p>
        Limited to 160 characters, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut. Lorem ipsum dolor sit amet, consectetuer adipiscing elit...
      </p>

      <footer class="footer">
        <a class="read" href="#FIXME">Read More</a>
        <a class="share" href="#FIXME">Share This</a>
      </footer>

    </div>

  </article>

</section>

{% endfor %}