<section class="featured-pages">

  <article class="content direct-sales">

    <div class="txt-wrap">

      <h1 class="no-hover">
        Direct Sales
      </h1>

      <p>
        Please contact us at <span class="faux-link">(505) 792-1110</span> ext.1 or toll free in the US and Canada <span class="faux-link">(855) 898-6824</span>, use our online inquiry form, or email us at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;">&#115;&#97;&#108;&#101;&#115;&#64;&#105;&#100;&#101;&#117;&#109;&#46;&#99;&#111;&#109;</a>. Our multitouch tables are sold domestically and internationally and are only available direct from Ideum.
      </p>

    </div>

  </article>

  <article class="content rentals">

    <div class="txt-wrap">

      <h1 class="no-hover">
        Multitouch Rentals
      </h1>

      <p>
        Ideum's 46” Platform, 55” 4k Drafting table, and 46” and 32” Coffee Tables are available for rent for trade shows and special events. Fill out the Inquiry Form above and we’ll give you a call.
      </p>

    </div>

  </article>

</section>