<!-- begin hidden content for follow-dialog -->
<div style='display:none'>
  <div id='follow-dialog' class="follow-share">
    <img id="ideum-icon" src="/wp-content/themes/ideum/images/logo.png" alt="Ideum" title="Ideum">
    <p>Like what you see? Follow Us.</p>
    <!-- Facebook -->
    <a href="https://www.facebook.com/ideum" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/facebook.png" 
    alt="Facebook"></a>
    <!-- Twitter -->
    <a href="https://twitter.com/ideum" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/twitter.png" 
    alt="Twitter"></a>
    <!-- Google+ -->
    <a href="https://plus.google.com/+Ideum/posts" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/google.png" 
    alt="Google+"></a>
    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/company/ideum" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/linkedin.png" 
    alt="LinkedIn"></a>
    <!-- Pinterest -->
    <a href="http://www.pinterest.com/ideum/" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/pinterest.png" 
    alt="Pinterest"></a>
    <!-- Youtube -->
    <a href="https://www.youtube.com/user/multitouchexhibits/" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/youtube.png" 
    alt="Youtube"></a> 
    <!-- Vimeo -->
    <a href="http://vimeopro.com/ideum/ideum" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/vimeo.png" 
    alt="Vimeo"></a>
    <!-- Flickr -->
    <a href="https://www.flickr.com/photos/ideum/" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/flickr.png" 
    alt="Flickr"></a>
    <!-- RSS Feed -->
    <a href="http://ideum-next.dev/?feed=rss" target="_blank"><img class="sharing-icon" src="/wp-content/themes/ideum/images/social/rss.png" 
    alt="RSS Feed"></a>              
  </div>
</div>
<!-- end hidden content for follow-dialog - revealed when user clicks 'Follow Us' link (below)-->