<div class="section-info">

  <p>
    <a href="#follow-dialog" class="button active phone-only follow-share-phone">Follow Us</a>
    <a href="#follow-dialog" class="button active tablet-n-desktop follow-share-tab-desk">Follow Us</a>
  </p>

</div>