{% extends "base.twig" %}

{% block content %}

<div id="blog" class="sub-page-wrap blog-listing">

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    <h1>
      Latest From The Blog
    </h1>

    <p>
      {{post.content}}
    </p>

  </section>

  <section class="blog-post-listing">

    {% for post in posts %}
    {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
    {% endfor %}

  </section>

{% endblock %}