{% extends "base.twig" %}

{% block content %}

<div id="team" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    <h1>
      Our {{post.title}}
    </h1>

    <p>
      {{post.content}}
    </p>

  </section>

  <section class="teamgrid">

    {% for member in team %}
    {% include ['tease-ideum_employee.twig', 'tease.twig'] %}
    {% endfor %}

  </section>

  {{follow_dialog}}

  <div class="section-info">

    <p>
      <a href="#follow-dialog" class="button active inline-share">Follow Us</a>
    </p>

  </div>
  
</div>

{% endblock %}