{% extends "base.twig" %}

{% block content %}

<div id="team" class="sub-page-wrap">

  {% include "parent-nav.twig" %}

  <section class="highlight-text child-page">

    {% if post.can_edit %}
    <a class="edit-link" href="{{post.edit_link}}">[Edit me!]</a>
    {% endif %}

    {{post.content}}

  </section>

  <section class="teamgrid">

    {% for member in team %}
    {% include ['tease-ideum_employee.twig', 'tease.twig'] %}
    {% endfor %}

  </section>

  {{follow_dialog}}

  {% include 'follow-us-button.twig' %}

{% endblock %}