<nav class="sub-nav">
  <ul>
    <li class="current-menu-item"><a href="{{post.link}}">{{post.title}}</a></li>
    {% for child in post.children %}
    <li><a href="{{child.link}}">{{child.title}}</a></li>
    {% endfor %}
  </ul>
</nav>